<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    <property name="DEV_HOME" value="/log/homestars/chat-application"/>-->

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="CONSOLE_LOG_PATTERN" value="%d %level %logger{50} : %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <springProfile name="local">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </springProfile>
    </appender>

<!--    <appender name="FILE-AUDIT"-->
<!--              class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${DEV_HOME}/user-service.log</file>-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <Pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss} - %msg%n-->
<!--            </Pattern>-->
<!--        </encoder>-->

<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; rollover daily &ndash;&gt;-->
<!--            <fileNamePattern>${DEV_HOME}/archived/user-service.logs.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>-->
<!--            <maxHistory>30</maxHistory>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy-->
<!--                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>100MB</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    <root level="ERROR">-->
<!--        <appender-ref ref="Async" />-->
<!--    </root>-->

<!--    <logger name="com.homestars" additivity="false" level="${LOG_LEVEL}">-->
<!--        <appender-ref ref="Async"/>-->
<!--    </logger>-->

    <logger name="com.zaxxer.hikari" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.homestars" level="info"
            additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springframework" level="error"
            additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
